<section class="section-advantages">
    <div class="container">
        <h2 class="hidden">Advantages</h2>
       
    <ul class="advantages-list list">
        <li class="advantages-item">
            <div class="advantages-icon-content">
                <ul class="advantages-icon-list">
                    <li class="advantages-icon-item">
    <a href class="advantages-icon-link">
        <svg class="advantages-icon" width="32" height="32">
            <use href="../img/symbol-defs.svg#icon-adv-chocolate"></use>
        </svg>
    </a>
                        </li>
                </ul>
            </div>
                <h3 class="advantages-titel">Unsurpassed taste</h3>
            <p class="advantages-subtitel">Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that
simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of
chocolate bliss.</p>
     </li>
    <!--<span class="decoration">

    </span>-->
    
        <li class="advantages-item">
            <div class="advantages-icon-content">
                 <ul class="advantages-icon-list">
                    <li class="advantages-icon-item">
                         <a href class="advantages-icon-link">
                <svg class="advantages-icon" width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-dollar"></use>
                </svg>
                        </a>
                     </li>
                 </ul>
            </div>
            <h3 class="advantages-titel">Affordable price</h3>
            <p class="advantages-subtitel">Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats.
Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and
indulge in affordable luxury today.</p>
        </li>
    
        
        <li class="advantages-item">
                <div class="advantages-icon-content">
                <ul class="advantages-icon-list">
                     <li class="advantages-icon-item">
                    <a href class="advantages-icon-link">
                <svg class="advantages-icon" width="32" height="32">
                    <use href="../img/symbol-defs.svg#icon-spoon"></use>
                </svg>
                     </a>
        </li>
    </ul>
    
    
</div>
<h3 class="advantages-titel">Unsurpassed taste</h3>
<p class="advantages-subtitel">Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is
    a decadent experience that
    simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of
    chocolate bliss.</p>
        </li>
    </ul>
    
</div>
</section>