<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
            <svg class="modal-close-button">
                <use href="./img/symbol-defs.svg#icon-close"></use>
            </svg></button>
        <h3 class="modal-title"><span class="modal-title-special">BUY</span>NOW</h3>
        <ul class="modal-list">
            <li class="modal-items">
                <picture>
                    <source
                        srcset="../img/modal-buy-order-mobile-1-1x-min.png 1x, ../img/modal-buy-order-mobile-1-2x-min.png 2x"
                        media="(max-width: 767px)">
                    <source
                        srcset="../img/modal-buy-order-tablet-desktop-1-1x-min.png 1x, ../img/modal-buy-order-tablet-desktop-1-2x-min.png 2x"
                        media="(min-width: 768px)">
                    <img src="../img/modal-buy-order-mobile-1-1x-min.png" alt="black-chocolate" class="modal-img">
                </picture>
                <a class="button">100 g</a>
            </li>
            <li class="modal-items">
                <picture>
                    <source
                        srcset="../img/modal-buy-order-mobile-2-1x-min.png 1x, ../img/modal-buy-order-mobile-2-2x-min.png 2x"
                        media="(max-width: 767px)">
                    <source
                        srcset="../img/modal-buy-order-tablet-desktop-2-1x-min.png 1x, ../img/modal-buy-order-tablet-desktop-2-2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="../img/modal-buy-order-tablet-desktop-2-1x-min.png" alt="black-and-white"
                        class="modal-img">
                </picture>
                <a class="button">200 g</a>
            </li>

            <li class="modal-items">
                <picture>
                    <source
                        srcset="../img/modal-buy-order-mobile-3-1x-min.png 1x, ../img/modal-buy-order-mobile-3-2x-min.png 2x"
                        media="(max-width: 767px)">
                    <source
                        srcset="../img/modal-buy-order-tablet-desktop-3-1x-min.png 1x, ../img/modal-buy-order-tablet-desktop-3-2x-min.png 2x"
                        media="(min-width: 768px)">

                    <img src="./img/modal-buy-order-tablet-desktop-3-1x-min.png" alt="chocolate-bar" class="modal-img">

                </picture>


                <a class="button">300 g</a>
            </li>
        </ul>

        <form class="form-modal">
            <label for="name" class="modal-label">Personal information</label>
            <div class="form-group">
                <input type="text" name="username" id="name" class="modal-input modal-name" placeholder="Name"
                    pattern="[A-Za-zА-Яа-яЁё]*" required>
                <input type="text" name="usersurname" class="modal-input modal-name" placeholder="Surname"
                    pattern="[A-Za-zА-Яа-яЁё]*" required>
            </div>


            <div class="form-group-two">
                <label for="mail" class="modal-label">Email</label>
                <input type="email" name="usermail" id="mail" class="modal-input" placeholder="Enter your email"
                    required>
            </div>

            <label for="tel" class="modal-label">Phone number</label>
            <div class="form-group-two">
                <input type="tel" name="userphone" id="tel" class="modal-input modal-input-phone"
                    placeholder="Phone number" required>
                <svg class="modal-icon-ukr" width="24" height="18">
                    <use href="./img/symbol-defs.svg#icon-ukr"></use>
                </svg>
                <p class="mobile-code">+380</p>
            </div>

            <label for="card" class="modal-label">Card number</label>
            <div class="form-group-two">
                <input type="tel" id="card" inputmode="numeric" class="modal-input" pattern="[0-9\s]{13,19}"
                    maxlength="19" required>
                <svg class="modal-icon-card" width="22" height="13">
                    <use href="./img/symbol-defs.svg#icon-mastercard"></use>
                </svg>
            </div>
            <div class="form-group-two">
                <label for="comment" class="modal-label">Comment</label>
                <textarea name="comment" id="comment" class="form-textarea" placeholder="Enter text"></textarea>
            </div>

            <button type="submit" class="modal-btn">Submit</button>
        </form>
    </div>
</div>