<div class="footer" id="footer">
    <div class="container footer-container">
        <div class="footer-extra-wrap">
<p class="footer-title"><span class="footer-title-item">Chocolate</span> a delicious cure for a bad day</p>
<div class="footer-contact-social-wrap">
    <div class="footer-contact">
    <b class="footer-contact-subtitle">Contact us</b>
    <ul class="footer-contact-list list">
        <li class="footer-contact-list-item"><a class="footer-contact-list-link link" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
        <li class="footer-contact-list-item"><a class="footer-contact-list-link link" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>
    </ul>
</div>
<div class="footer-social">
    <ul class="footer-social-list list">
        <li class="footer-social-list-item">
            <a class="footer-social-list-link link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer nofollow">
                <svg class="footer-social-list-link-icon" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li class="footer-social-list-item">
            <a class="footer-social-list-link link" href="https://twitter.com" target="_blank" rel="noopener noreferrer nofollow">
                <svg class="footer-social-list-link-icon" width="22" height="22">
                    <use href="./img/symbol-defs.svg#icon-twitter"></use>
                </svg>
        </a></li>
    </ul>
</div>
</div>
</div>
<div class="footer-line"></div>
    <ul class="footer-nav-list list">
        <li class="footer-nav-list-item"><a class="footer-nav-list-link link" href="./index.html">Home</a></li>
        <li class="footer-nav-list-item"><a class="footer-nav-list-link link" href="#how-it-made">How it’s made?</a></li>
        <li class="footer-nav-list-item"><a class="footer-nav-list-link link" href="#our-products">Our products</a></li>
        <li class="footer-nav-list-item"><a class="footer-nav-list-link link" href="#top-sellers">Top sellers</a></li>
        <li class="footer-nav-list-item"><a class="footer-nav-list-link link" href="#chocolate-is-loved">Chocolate is loved</a></li>
    </ul>
</div>
</div>
