<div>
<p><span>Chocolate</span> a delicious cure for a bad day</p>
    <b>Contact us</b>
    <ul>
        <li><a href="tel:+380684439426">+380 (68) 443-94-26</a></li>
        <li><a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a></li>
    </ul>

    <ul>
        <li>
            <a href="https://www.instagram.com/">
                <svg width="22" height="22">
                    <use href="../img/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
        <li><a href="https://twitter.com">
            <svg width="22" height="22">
                <use href="../img/symbol-defs.svg#icon-twitter"></use>
            </svg>
        </a></li>
    </ul>

    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">How it’s made?</a></li>
        <li><a href="">Our products</a></li>
        <li><a href="">Top sellers</a></li>
        <li><a href="">Chocolate is loved</a></li>
    </ul>
</div>
