<header class="header">
  <div class="container header-container">
    <a href="" class="header-logo">
      SIMPLY<span class="header-logo-span">CHOCOLATE</span>
      <svg class="header-logo-icon" width="21" height="21">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      type="button"
      class="menu-button js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="24" height="16" aria-label="mobile-menu">
        <use href="./img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="header-nav-wrap js-menu-container" id="mobile-menu">
      <button type="button" class="header-btn-menu-close js-close-menu">
        <svg width="12" height="12">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="header-navigation">
        <ul class="header-list list">
          <li class="header-item">
            <a href="#Home" class="header-link link">Home</a>
          </li>
          <li class="header-item">
            <a href="#how-it-made" class="header-link link">How it’s made?</a>
          </li>
          <li class="header-item">
            <a href="#our-products" class="header-link link">Our products</a>
          </li>
          <li class="header-item">
            <a href="#top-sellers" class="header-link link">Top sellers</a>
          </li>
          <li class="header-item">
            <a href="#chocolate-is-loved" class="header-link link"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </nav>
      <div class="mobile-social">
        <ul class="mobile-social-list list">
          <li class="mobile-social-item">
            <a
              href="https://www.instagram.com/"
              class="mobile-social-link link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="mobile-social-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-social-item">
            <a
              href="https://twitter.com/twitter?lang=uk"
              class="mobile-social-link link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="mobil-social-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
