<section class="hero-section container">
  <div class="container">
    <h1 class="hidden">Simply chocolate - the best chocolate</h1>
    <p class="title-hero">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="hero-span-ul">
      <ul class="list-button-hero">
        <li><button type="button" class="button-hero-one">Buy now</button></li>
        <li>
          <button type="button" class="button-hero-two">How it’s made</button>
        </li>
      </ul>
      <span class="scroll-hero">
        <p>scroll down</p>
        <button type="button" class="scroll-hero-btn">
          <svg width="22" height="22">
            <use href="../img/symbol-defs.svg#icon-scrol"></use>
          </svg></button
      ></span>
    </div>
  </div>
</section>
