<section class="section">
  <div class="container">
    <h2 class="how-its-title" id="how-it-made">
      HOW IT’S <span class="logo-orang">MADE?</span>
    </h2>
    <div class="how-its-containers">
      <div class="how-its-picture">
        <picture>
          <source
            srcset="
              ./img/how-its-made-mobile-1x-min.png 1x,
              ./img/how-its-made-mobile-2x-min.png 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
            width="335"
            height="500"
          />
          <source
            srcset="
              ./img/how-its-made-tablet-1x-min.png 1x,
              ./img/how-its-made-tablet-1x-min.png 2x
            "
            type="image/jpeg"
            media="(max-width: 1199px)"
            width="614"
            height="400"
          />
          <source
            srcset="
              ./img/how-its-made-desktop-1x-min.png 1x,
              ./img/how-its-made-desktop-2x-min.png 2x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
            width="600"
            height="400"
          />
          <img
            src="./img/how-its-made-desktop-1x-min.png"
            alt="how its made"
          />
        </picture>
      </div>
      <div class="how-its-text">
        <h3 class="how-its-title-items">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-its-items">
          <li class="how-its-items-li">
            <p>
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li class="how-its-items-li">
            <p>
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li class="how-its-items-li">
            <p>
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li class="how-its-items-li">
            <p>Heat the mixture over low heat, letting it barely boil.</p>
          </li>
          <li class="how-its-items-li">
            <p>
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
