<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webstudio</title>
    <!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Styles -->
<link href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css
" rel="stylesheet">
<link rel="stylesheet" href="./css/styles.css"/>
</head>
<body>
<header class="header">
    <div class="container header-container">
    <nav class="navigation">
    <a href= "./index.html" class="logo">WEB<span class="logo-studio">STUDIO</span></a>
<ul class="list-navigation">
<li><a href="./index.html" class="link-nav current studio-tablet">Studio</a></li>
<li><a href="./portfolio.html" class="link-nav">Portfolio</a></li>
<li><a href="" class="link-nav">Contacts</a></li>
</ul>
</nav>
    <button class="header-burger js-open-menu" type="button">
        <svg class="icon-menu-burger" width="32" height="22">
            <use href="./images/icons.svg#icon-menu-burger">
            </use>
        </svg>
    </button>
<address class="address">
    <ul class="contacts-list">
<li><a href="mailto:info@devstudio.com" class="link-address">info@devstudio.com</a></li>
<li><a href="tel:+110001111111" class="link-address">+11 (000) 111-11-11</a></li>
</ul>
</address>
    <div class="mobile-menu js-menu-container">
                    <div class="header-nav-modal">
        <button class="modal-close-js js-close-menu" type="button">
            <svg class="close">
                <use href="./images/icons.svg#icon-close">
                </use>
            </svg>
        </button>
                        <ul class="contact-menu-nav-mob">
<li><a href="./index.html" class="link-nav-mobile studio">Studio</a></li>
<li><a href="./portfolio.html" class="link-nav-mobile">Portfolio</a></li>
<li><a href="" class="link-nav-mobile">Contacts</a></li>
    </ul>
    <ul class="mobile-nav-two">
    <li class="tel-bottom"><a href="tel:+110001111111" class="link-address-mob-tel">+11 (000) 111-11-11</a></li>
    <li><a href="mailto:info@devstudio.com" class="link-address-mob-mail">info@devstudio.com</a></li>

        </ul>
      <ul class="icon-modal">
<li class="socials-item">
    <a class="socials-link" href="#">
        <svg class="socials-icon-modal">
            <use href="./images/icons.svg#icon-instagram">
            </use>
        </svg>
    </a>
</li>
<li class="socials-item">
    <a class="socials-link" href="#">
        <svg class="socials-icon-modal">
            <use href="./images/icons.svg#icon-twitter">
            </use>
        </svg>
    </a>
</li>
<li class="socials-item">
    <a class="socials-link" href="#">
        <svg class="socials-icon-modal">
            <use href="./images/icons.svg#icon-facebook">
            </use>
        </svg>
    </a>
</li>
<li class="socials-item">
    <a class="socials-link" href="#">
        <svg class="socials-icon-modal">
            <use href="./images/icons.svg#icon-linkedin">
            </use>
        </svg>
    </a>
</li>
      </ul>
    </div>
            </div>
        </div>
</header>
<main>
    <section class="hero">
        <div class="container">
    <h1 class="main-title">Effective Solutions
        for Your Business</h1>
    <button type="button" class="button-order-service" data-modal-open>Order Service</button>
</div>
        </section>
        <section class="section-one">
            <div class="container">
                    <h2 class="visually-hidden">Advantages</h2>
                    <ul class="list-about">
                        <li class="columns">
                            <div class="svg-icons">
                            <svg class="icons" width="64" height="64">
                                <use href="./images/icons.svg#icon-antenna">
                                </use>
                            </svg>
                            </div>
                            <h3 class="section-name">Strategy</h3>
                            <p class="section-text">
                                Our goal is to identify the business
                                problem to walk away with the perfect and creative solution.
                            </p>
                        </li>
                        <li class="columns">
                            <div class="svg-icons">
                            <svg class="icons" width="64" height="64">
                                <use href="./images/icons.svg#icon-clock">
                                </use>
                            </svg>
                            </div>
                            <h3 class="section-name">Punctuality</h3>
                            <p class="section-text">
                                Bring the key message to the brand's audience for the best price within the shortest possible time.</p>
                        </li>
                        <li class="columns">
                            <div class="svg-icons">
                        <svg class="icons" width="64" height="64">
                            <use href="./images/icons.svg#icon-diagram">
                            </use>
                        </svg>
                        </div>
                            <h3 class="section-name">Diligence</h3>
                            <p class="section-text">
                                Research and confirm brands that present the strongest digital growth opportunities and minimize risk.</p>
                        </li>
                        <li class="columns">
                            <div class="svg-icons">
                        <svg class="icons" width="64" height="64">
                            <use href="./images/icons.svg#icon-cosmonaut">
                            </use>
                        </svg>
                        </div>
                            <h3 class="section-name">Technologies</h3>
                            <p class="section-text">
                                Design practice focused on digital experiences. We bring forth a deep passion for problem-solving.</p>
                        </li>
                    </ul>
                    </div>
                    </section>
<section class="section-two">
    <div class="container">
    <h2 class="section-title">What are we doing</h2>
    <ul class="services">
        <li>
            <img
            srcset="./images/seo.jpg 1x, ./images/seo@2x.jpg 2x"
            src="./images/seo.jpg"
            width="360"
            height="300"
            alt="seo"/>
        </li>
        <li>
        <img srcset="./images/multifunctual.jpg 1x, ./images/multifunctual@2x.jpg 2x" src="./images/multifunctual.jpg"
        width="360"
        height="300"
        alt="multifunctual" />
        </li>
        <li>
        <img srcset="./images/foralldevices.jpg 1x, ./images/foralldevices@2x.jpg 2x" src="./images/foralldevices.jpg"
        width="360"
        height="300"
        alt="multifunctual" />
        </li>
    </ul>
    </div>
</section>
<section class="our-team">
    <div class="container team-container">
        <h2 class="team-title">Our Team</h2>
        <ul class="team">
            <li class="card-color">
                <img srcset="./images/Mark_Guerrero.jpg 1x, ./images/Mark_Guerrero@2x.jpg 2x"
                src=".images/Mark_Guerrero.jpg"
                alt="Mark Guerrero" width="264" height="260"/>
                <div class="card-bottom">
                    <h3 class="section-name-worker">Mark Guerrero</h3>
                    <p class="section-text">Product Designer</p>
                    <ul class="socials-list">
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-instagram">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-twitter">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-facebook">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-linkedin">
                                    </use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="card-color">
                <img srcset="./images/Tom_Ford.jpg 1x, ./images/Tom_Ford@2x.jpg 2x"
                src="./images/Tom_Ford.jpg"
                alt="Tom Ford" width="264" height="260"/>
                <div class="card-bottom">
                    <h3 class="section-name-worker">Tom Ford</h3>
                    <p class="section-text">Frontend Developer</p>
                    <ul class="socials-list">
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-instagram">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-twitter">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-facebook">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-linkedin">
                                    </use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="card-color">
                <img srcset="./images/Camila_Garcia.jpg 1x, ./images/Camila_Garcia@2x.jpg 2x"
                src="./images/Camila_Garcia.jpg"
                 alt="Camila Garcia" width="264" height="260"/>
                <div class="card-bottom">
                    <h3 class="section-name-worker">Camila Garcia</h3>
                    <p class="section-text">Marketing</p>
                    <ul class="socials-list">
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-instagram">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-twitter">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-facebook">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-linkedin">
                                    </use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="card-color">
                <img srcset="./images/Daniel_Wilson.jpg 1x, ./images/Daniel_Wilson@2x.jpg 2x"
                src="./images/Daniel_Wilson.jpg"
                alt="Daniel Wilson" width="264" height="260"/>
                <div class="card-bottom">
                    <h3 class="section-name-worker">Daniel Wilson</h3>
                    <p class="section-text">UI Designer</p>
                    <ul class="socials-list">
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-instagram">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-twitter">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-facebook">
                                    </use>
                                </svg>
                            </a>
                        </li>
                        <li class="socials-item">
                            <a class="socials-link" href="#">
                                <svg class="socials-icon">
                                    <use href="./images/icons.svg#icon-linkedin">
                                    </use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="customers">
    <div class="container customers-container">
<h3 class="section-customers">Customers</h3>
<ul class="customers-list">
<li class="customers-item">
    <a class="customers-link" href="#">
        <svg class="customers-icon" width="104" height="56">
            <use href="./images/icons.svg#icon-yaco">
            </use>
        </svg>
    </a>
</li>
<li class="customers-item">
    <a class="customers-link" href="#">
        <svg class="customers-icon" width="104" height="56">
            <use href="./images/icons.svg#icon-companytag">
            </use>
        </svg>
    </a>
</li>
<li class="customers-item">
    <a class="customers-link" href="#">
        <svg class="customers-icon" width="104" height="56">
            <use href="./images/icons.svg#icon-company">
            </use>
        </svg>
    </a>
</li>
<li class="customers-item">
    <a class="customers-link" href="#">
        <svg class="customers-icon" width="104" height="56">
            <use href="./images/icons.svg#icon-fosterpeters">
            </use>
        </svg>
    </a>
</li>
<li class="customers-item">
    <a class="customers-link" href="#">
        <svg class="customers-icon" width="104" height="56">
            <use href="./images/icons.svg#icon-brand">
            </use>
        </svg>
    </a>
</li>
<li class="customers-item">
    <a class="customers-link" href="#">
        <svg class="customers-icon" width="104" height="56">
            <use href="./images/icons.svg#icon-companytegline">
            </use>
        </svg>
    </a>
</li>
</ul>
</div>
</section>
</main>
<footer class="footer">
    <div class="container footer-socials">
        <div class="footer-block">
        <a href="./index.html" class="logo">WEB<span class="logo-footer">STUDIO</span></a>
        <p class="footer-text">
            Increase the flow of customers and
            sales for your business with digital
            marketing & growth solutions.
        </p>
</div>
<div class="media">
    <p class="social-media">Social media</p>
    <ul class="footer-social-list">
        <li class="footer-icons-list">
            <a class="footer-link" href="#">
                <svg class="footer-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-instagram">
                    </use>
                </svg>
            </a>
        </li>
        <li class="footer-icons-list">
            <a class="footer-link" href="#">
                <svg class="footer-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-twitter">
                    </use>
                </svg>
            </a>
        </li>
        <li class="footer-icons-list">
            <a class="footer-link" href="#">
                <svg class="footer-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-facebook">
                    </use>
                </svg>
            </a>
        </li>
        <li class="footer-icons-list">
            <a class="footer-link" href="#">
                <svg class="footer-icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-linkedin">
                    </use>
                </svg>
            </a>
        </li>
    </ul>
</div>
<div class="footer-form">
    <p class="footer-form-text">Subscribe</p>
    <form class="footer-form-subscribe" autocomplete="off" novalidate>
        <label class="user-insert">
            <input class="footer-insert-area" type="email" name="user-email" placeholder="E-mail">
        </label>
        <button type="submit" class="button-subscribe">Subscribe
            <svg class="footer-svg">
                <use href="./images/icons.svg#icon-sendtelegram"></use>
            </svg>
        </button>
    </form>
</div>

</div>
</footer>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-close" type="button" data-modal-close>
                            <svg class="close-icon" width="24" height="24">
                                <use href="./images/icons.svg#icon-close">
                                </use>
                            </svg>
        </button>
<p class="text-form">
Leave your contacts and we will call you back
</p>
<form class="contact-form" autocomplete="off" novalidate>
    <label class="user-type">
<span class="form-name">Name</span>
<span class="input-form">
    <input class="modal-userform" id="user-name" type="text" name="user-name" autofocus pattern="^[a-Za-яА-Я]+$" minlength="2">
<svg class="user-form" width="18" height="18">
    <use href="./images/icons.svg#icon-formperson"></use>
    </svg>
    </span>
    </label>
<label class="user-type">
    <span class="form-name">Phone</span>
    <span class="input-form">
        <input class="modal-userform" type="tel" name="user-phone" id="user-phone" required
            pattern="^[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx xxx xx xx">
        <svg class="user-form" width="18" height="24">
            <use href="./images/icons.svg#icon-formphone"></use>
        </svg>
    </span>
</label>
<label class="user-type">
    <span class="form-name">Email</span>
    <span class="input-form">
        <input class="modal-userform" type="email" name="user-email">
        <svg class="user-form" width="18" height="24">
            <use href="./images/icons.svg#icon-formemail"></use>
        </svg>
    </span>
</label>
<label class="user-type">
    <span class="form-name">Comment</span>
    <span class="input-form">
        <textarea class="inside-form" name="user-messege" id="user-messege" placeholder="Text input"
            required></textarea>
    </span>
</label>
<label class="modal-check">
    <input id="user-policy" type="checkbox" name="user-policy" class="form-check">
    <span class="checked"></span>
     <span>I accept the terms and conditions of the
    <a href="" class="privacy">Privacy Policy</a>
</span>
</label>
<button type="submit" class="button-oneform">Send</button>
</form>
</div>
</div>
<script src="./js/mobile-menu.js">
</script>
<script src="./js/modal.js">
</script>
</body>
</html>
