<!-- <div class="backdrop is-hidden" data-modal>
    <div class="modal data-modal">
        <button type="button" class="modal-close data-modal-close">
            <svg class="modal-close-button">
                <use href="./img/symbol-defs.svg#icon-close"></use>
            </svg></button>
        <h3 class="modal-title-rew">leave a review
            about<span class="modal-title-special-rew">our chocolate</span></h3>
        <form class="form-modal">

            <div class="form-group">
                <input type="text" name="username" id="name" class="modal-input modal-name" placeholder="Name"
                    pattern="[A-Za-zА-Яа-яЁё]*" required>
            </div>


            <div class="form-group-two">
                <input type="email" name="usermail" id="mail" class="modal-input" placeholder="Enter your email"
                    required>
            </div>


            <div class="form-group-two">
                <input type="tel" name="userphone" id="tel" class="modal-input modal-input-phone"
                    placeholder="Phone number" required>
                <svg class="modal-icon-ukr" width="24" height="18">
                    <use href="./img/symbol-defs.svg#icon-ukr"></use>
                </svg>
                <p class="mobile-code">+380</p>
            </div>

            <div class="form-group-two">

                <textarea name="comment" id="comment" class="form-textarea" placeholder="Enter text"></textarea>
            </div>

            <button type="submit" class="modal-btn">Send</button>
        </form>
    </div>
</div> -->