<section class="section products-section">
  <div class="container">
    <h2 id="our-products" class="products-header">
      Our<span class="products-header-orange">products</span>
    </h2>
    <div class="products-list products-slider">
      <div class="products-item">
        <img
          srcset="
            ./img/slider-orange-1x-min.png 1x,
            ./img/slider-orange-2x-min.png 2x
          "
          src="./img/slider-orange-1x-min.png"
          alt="Orange chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">orange</h3>
          <p class="product-type">Dark chocolate</p>
          <p class="product-price">45 UAH</p>
        </div>
      </div>
      <div class="products-item">
        <img
          srcset="
            ./img/slider-apple-1x-min.png 1x,
            ./img/slider-apple-2x-min.png 2x
          "
          src="./img/slider-apple-1x-min.png"
          alt="Apple&cranberry chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">APPLE&CRANBERRY</h3>
          <p class="product-type">Milk chocolate</p>
          <p class="product-price">50 UAH</p>
        </div>
      </div>
      <div class="products-item">
        <img
          srcset="
            ./img/slider-lime-1x-min.png 1x,
            ./img/slider-lime-2x-min.png 2x
          "
          src="./img/slider-lime-1x-min.png"
          alt="Lime&sea salt chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">lime&sea salt</h3>
          <p class="product-type">Dark chocolate</p>
          <p class="product-price">66 UAH</p>
        </div>
      </div>
      <div class="products-item">
        <img
          srcset="
            ./img/slider-pineapple-1x-min.png 1x,
            ./img/slider-pineapple-2x-min.png    2x
          "
          src="./img/slider-pineapple-1x-min.png"
          alt="Pineapple chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">pineapple</h3>
          <p class="product-type">Dark chocolate</p>
          <p class="product-price">54 UAH</p>
        </div>
      </div>
      <div class="products-item">
        <img
          srcset="
            ./img/slider-milk-classic-1x-min.png 1x,
            ./img/slider-milk-classic-2x-min.png 2x
          "
          src="./img/slider-milk-classic-1x-min.png"
          alt="Classic milk chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">Classic</h3>
          <p class="product-type">Milk chocolate</p>
          <p class="product-price">45 UAH</p>
        </div>
      </div>
      <div class="products-item">
        <img
          srcset="
            ./img/slider-honey-1x-min.png 1x,
            ./img/slider-honey-2x-min.png 2x
          "
          src="./img/slider-honey-1x-min.png"
          alt="Honey chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">honey</h3>
          <p class="product-type">Milk chocolate</p>
          <p class="product-price">50 UAH</p>
        </div>
      </div>
      <div class="products-item">
        <img
          srcset="
            ./img/slider-roastfruits-1x-min.png 1x,
            ./img/slider-roastfruits-2x-min.png 2x
          "
          src="./img/slider-roastfruits-1x-min.png"
          alt="Roasted fruits chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">Roasted fruits</h3>
          <p class="product-type">Dark chocolate</p>
          <p class="product-price">66 UAH</p>
        </div>
      </div>
      <div class="products-item">
        <img
          srcset="
            ./img/slider-white-classic-1x-min.png 1x,
            ./img/slider-white-classic-1x-min.png 2x
          "
          src="./img/slider-white-classic-1x-min.png"
          alt="Classic white chocolate"
          width="230"
          height="201"
        />
        <div class="products-card">
          <h3 class="product-name">Classic</h3>
          <p class="product-type">White chocolate</p>
          <p class="product-price">54 UAH</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- scripts added to index.html -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="./js/slick.min.js"></script>
<script src="./js/products-slider.js"></script>
