<section class="top-sellers section" id="top-sellers">
  <div class="container">
    <h2 class="top-sellers-title">
      <span class="top-sellers-title--orange">TOP </span>SELLERS
    </h2>
    <ul class="top-sellers-list">
      <li class="top-sellers-item list">
        <picture>
          <source
            srcset="
              ../img/top-sellers-desktop-1-1x-min.png 1x,
              ../img/top-sellers-desktop-1-2x-min.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/top-sellers-tablet-1-1x-min.png 1x,
              ../img/top-sellers-tablet-1-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/top-sellers-mobile-1-1x-min.png 1x,
              ../img/top-sellers-mobile-1-2x-min.png 2x
            "
          />
          <img
            srcset="
              ../img/top-sellers-desktop-1-1x-min.png 1x,
              ../img/top-sellers-desktop-1-2x-min.png 2x
            "
            src="../img/top-sellers-desktop-1-1x-min.png"
            alt="chocolates with chestnuts and coffee"
            width="368"
            height="464"
            class="top-sellers-img"
          />
        </picture>
      </li>
      <li class="top-sellers-item list">
        <picture>
          <source
            srcset="
              ../img/top-sellers-tablet-2-1x-min.png 1x,
              ../img/top-sellers-tablet-2-2x-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/top-sellers-mobile-2-1x-min.png 1x,
              ../img/top-sellers-mobile-2-2x-min.png 2x
            "
          />
          <img
            srcset="
              ../img/top-sellers-desktop-2-1x-min.png 1x,
              ../img/top-sellers-desktop-2-2x-min.png 2x
            "
            src="../img/top-sellers-desktop-2-1x-min.png"
            alt="chocolates with nuts"
            width="368"
            height="464"
            class="top-sellers-img"
          />
        </picture>
      </li>
      <li class="top-sellers-item list">
        <picture>
          <img
            srcset="
              ../img/top-sellers-desktop-3-1x-min.png 1x,
              ../img/top-sellers-desktop-3-2x-min.png 2x
            "
            src="../img/top-sellers-desktop-3-1x-min.png"
            alt="chocolates"
            width="368"
            height="464"
            class="top-sellers-img"
        /></picture>
      </li>
      <li class="top-sellers-item list">
        <p class="top-sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-sellers-item list">
        <button class="top-sellers-btn" type="button">Buy now</button>
      </li>
    </ul>
  </div>
</section>
