<section class="unique">
    <div class="container container-top-name">
        <h2 class="unique-name">
            IT ALL ADDS UP TO ONE EXCEPTIONAL
            <span class="color-uniq">TASTE</span> SENSATION
        </h2>
        <p class="unique-main-text">
            At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.
        </p>
        <div class="container-unique">
            <ul style="list-style: none" class="unique-one">
               <li class="unique-card">
                    <div class="card-img-chocolate img-card">
                        <picture>
                            <source srcset="./img/milk-choc-desktop-1x-min.png 1x,
                            ./img/milk-choc-desktop-2x-min.png 2x"
                            media="(max-width: 1200px)"/> 
                            <source srcset="./img/milk-choc-mobile-tab-1x-min.png 1x,
                                        ./img/milk-choc-mobile-tab-2x-min.png 2x" 
                            media="(min-width: 768px)" />
                            <source srcset="./img/milk-choc-mobile-tab-1x-min.png 1x,
                                        ./img/milk-choc-mobile-tab-2x-min.png 2x" 
                            media="(max-width: 320px)" />
                            <img src="./img/milk-choc-desktop-1x-min.png" alt="retina picture" class="img-uniq">
                        </picture>
                        <h2 class="unique-name-two card-text">MILK CHOCOLATE</h2>
                    </div>
                    <div class="unique-decor img-card">
                        <p class="unique-name-three">MILK CHOCOLATE</p>
                        <ul style="list-style: none" class="button-unique-card">
                            <li>
                                <button class="button-uniq" type="button">chocolate</button>
                            </li>
                            <li>
                                <button class="button-uniq" type="button">the benefits</button>
                            </li>
                        </ul>
                        <p class="text-card-one">
                        Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of
                        chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all
                        milk chocolate is sold in the United States and Europe.
                        </p>
                    </div>
                </li>

                <li class="unique-card">
                    <div class="card-img-milk img-card">
                        <picture>
                            <source srcset="./img/milk-desktop-1x-min.png 1x,
                            ./img/milk-desktop-1x-min.png 2x"
                            media="(min-width: 1200px)"/>
                            <source srcset="./img/milk-mobile-tab-1x-min.png 1x,
                                            ./img/milk-mobile-tab-2x-min.png 2x" 
                            media="(min-width: 768px)" />
                            <source srcset="./img/milk-mobile-tab-1x-min.png 1x,
                                            ./img/milk-mobile-tab-2x-min.png 2x" 
                            media="(min-width: 320px)" />
                            <img src="./img/milk-desktop-1x-min.png" alt="retina picture" class="img-uniq"/>
                        </picture>
                        <h2 class="unique-name-three card-text">MILK</h2>
                    </div>
                    <div class="unique-decor img-card">
                        <p class="unique-name-three">MILK</p>
                        <ul style="list-style: none" class="button-unique-card">
                            <li>
                                <button class="button-uniq" type="button">milk</button>
                            </li>
                            <li>
                                <button class="button-uniq" type="button">the benefits</button>
                            </li>
                        </ul>
                        <p class="text-card-one">
                            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young
                            mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is
                            called colostrum, contains antibodies that strengthen the immune system.
                        </p>
                    </div>
                </li>

                <li class="unique-card">
                    <div class="card-img-nuts img-card">
                        <picture>
                            <source srcset="./img/nuts-desktop-1x-min.png 1x,
                            ./img/nuts-desktop-1x-min.png 2x"
                            media="(min-width: 1200px)"/>
                            <source srcset="./img/nuts-mobile-tab-1x-min.png 1x,
                                            ./img/nuts-mobile-tab-2x-min.png 2x" 
                            media="(min-width: 768px)"/>
                            <source srcset="./img/nuts-mobile-tab-1x-min.png 1x,
                                            ./img/nuts-mobile-tab-2x-min.png 2x" 
                            media="(min-width: 320px)"/>
                            <img src="./img/nuts-desktop-1x-min.png" alt="retina picture" class="img-uniq"/>
                        </picture>
                        <h2 class="unique-name-two card-text">NUTS</h2>
                    </div>
                    <div class="unique-decor img-card">
                        <p class="unique-name-three">NUTS</p>
                        <ul style="list-style: none" class="button-unique-card">
                            <li>
                                <button class="button-uniq" type="button">nuts</button>
                            </li>
                            <li>
                                <button class="button-uniq" type="button">the benefits</button>
                            </li>
                        </ul>
                        <p class="text-card-one">
                                Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a
                                nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source
                                of fiber, healthy fats, and plant protein. Plus, they’re great on their own.
                        </p>
                    </div>
                </li>

                <li class="unique-card">
                    <div class="card-img-milk img-card">
                        <picture>
                            <source srcset="./img/semi-desktop-1x-min.png 1x,
                            ./img/semi-desktop-2x-min.png 2x"
                            media="(min-width: 1200px)"/>
                            <source srcset="./img/semi-mobile-tab-1x-min.png 1x,
                                            ./img/semi-mobile-tab-2x-min.png 2x" 
                            media="(min-width: 768px)" />
                            <source srcset="./img/semi-mobile-tab-1x-min.png 1x,
                                            ./img/semi-mobile-tab-2x-min.png 2x" 
                            media="(min-width: 320px)" />
                            <img src="./img/semi-desktop-1x-min.png" alt="retina picture" class="img-uniq"/>
                        </picture>
                        <h2 class="unique-name-three card-text">SEMI-SWEET CHOCOLATE</h2>
                    </div>
                    <div class="unique-decor img-card"> 
                        <p class="unique-name-three">SEMI-SWEET CHOCOLATE</p>
                        <ul style="list-style: none" class="button-unique-card">
                            <li>
                                <button class="button-uniq" type="button">sweet chocolate</button>
                            </li>
                            <li>
                                <button class="button-uniq" type="button">the benefits</button>
                            </li>
                        </ul>
                        <p class="text-card-one">
                            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type
                            of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
                            comparison, it has a slightly bitter taste whereas milk chocolate is sweeter and more mellow.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

