


.section-advantages {
    padding-top: 72px;
    padding-bottom: 72px;
}

.container {
             padding:20px;
            max-width: 375px;
            margin: 0 auto;
            background-color: var(--dark-purple-color);
       }
.section-advantages-titel{
    display: none;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    
}

.list {}

.advantages-item {}

.advantages-icon-content {
    margin-bottom: 22px;
}

.advantages-icon-list {}

.advantages-icon-item {}

.advantages-icon-link {
    display: flex;
    
    width:62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 365px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.advantages-icon {
    width: 32px;
        height: 32px;
        fill:#FD9222;
}

.advantages-titel {
    
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        color: #FFFFFF;
        margin-bottom: 18px;
}

.advantages-subtitel {


    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;

    color: rgba(255, 255, 255, 0.7);
}

/*------Tablet------*/
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
        .section-advantages {
            padding-top: 50px;
            padding-bottom: 50px;
        }

.advantages-list{
  
    flex-direction: row;
}

.advantages-item{
    margin-right: 70px;
   
    width: 336px;
}
}




/*------Desktop------*/
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1200px;
    }
.section-advantages {
    padding-top: 72px;
    padding-bottom: 72px;
}

.advantages-item {
    display: block;
   margin-right: 70px;
        width: 326px;
        
}
}