/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    outline: transparent;
  }

button {
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    color: var(--black-color);
    background-color: #ffffff;
}

:root {
    font-family: Montserrat, Roboto, sans-serif;
    --black-color: #111111;
    --dark-purple-color: #1E1823;
    --orange-color: #FD9222;
    --white-color: #FAFAFA;
  }

.section {
    padding-bottom: 72px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 375px;
    margin: 0 auto;
  }

@media only screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 32px;
      padding-right: 32px;
    }

    .section {
      padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1158px) {
    .container {
      max-width: 1200px;
    }

    .section {
      padding-bottom: 128px;
  }
}


.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }