.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111111;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;
}
.header-logo-span {
  font-style: normal;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  stroke: #111111;
}

.header-nav-wrap {
  z-index: 1000;
  background-color: #1e1823;
  width: 220px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-wrap.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.header-btn-menu-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
  stroke: #ffffff;
  background-color: transparent;
  border: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-btn-menu-close:hover,
.header-btn-menu-close:focus {
  stroke: #fd9222;
}

.header-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 136px;
  left: 50px;
  gap: 24px;
  margin-top: 100px;
  margin-left: 50px;
}

.header-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus  {
  color: var(--orange-color);
}

.mobile-social-list {
  display: flex;
  gap: 18px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.mobile-social-link {
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-link:hover,
.mobile-social-link:focus {
  stroke: #fd9222;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-nav-wrap {
    width: 290px;
  }

  .header-list {
    top: 156px;
    left: 85px;
  }

  .burger-icon {
    width: 32px;
    height: 32px;
  }

  .header-link {
    font-weight: 600;
  }
  .header-btn-menu-close {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1200px) {

  .header {
    padding-bottom: 32px;
  }

  .container {
    max-width: 1200px;
  }

  .header-container {
    justify-content: space-between;
  }

  .header-logo {
    font-size: 18px;
    line-height: 1.1;
  }

  .header-nav-wrap {
    display: flex;
    flex-direction: row;
    width: unset;
    height: unset;
    position: static;
    padding: 0;
    align-items: center;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    padding: 0;
    background-color: transparent;
    transform: translate(0);
  }
  .header-btn-menu-close {
    display: none;
  }
  .menu-button {
    display: none;
  }
  .header-list {
    position: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 0px;
    margin-left: 188px;
    gap: 24px;
  }

  .header-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #111111;
  }

  .mobile-social-list {
    padding-bottom: 0px;
    margin-left: 137px;
  }
  .mobile-social-link {
    stroke: #111111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-social-link:hover,
  .mobile-social-link:focus {
    stroke: #fd9222;
  }
  .mobile-social-list:not(:last-child) {
    gap: 0px;
  }
  .mobile-social {
    margin-left: 137px;
    margin-bottom: 0px;
  }
}
