.hero-section {
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero-desktop-1x-min.png);
  padding-top: 381px;
  background-size: cover;
  padding-bottom: 40px;
  border-radius: 30px;
}
.title-hero {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: calc(34 / 28);
  letter-spacing: -0.03em;
  color: #fff;
  height: 102px;
  width: 484px;
  margin-bottom: 32px;
}
.button-hero-one {
  background: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  color: #ffffff;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  cursor: pointer;
}
.button-hero-two {
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
  background: none;
}
