:root {
    --color-gray-light: #E5E5E5;
    --color-light: #F4F4FD;
    --color-blue: #4D5AE5;
    --color-blue-light: #404BBF;
    --color-dark: #2E2F42;
    --color-gray: #434455;
    --color-white: #FFFFFF;
    --color-white-dark: #E7E9FC;
    --font-size-16: 16px;
    --font-size-18: 18px;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-16);
    line-height: 1.5;
    color: var(--color-gray-light);
}

ul {
    list-style: none;
}

.container {
    max-width: 426px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
        .customers-container {
            max-width: 582px;
        }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}

.team-container {
max-width: 294px;
}
@media screen and (min-width: 768px) {
    .team-container {
        max-width: 582px;
    }
}

@media screen and (min-width: 1200px) {
.team-container {
max-width: 1158px;
row-gap: 24px;
column-gap: 64px;
    }
}

.header {
    padding: 25px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid #E7E9FC;
}
@media screen and (min-width: 768px) {
    .header {
        padding: 16px 0px;
    }
}
@media screen and (min-width: 1200px) {
    .header {
    padding: 24px 0px;
    }
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (min-width: 479px) {
    .header-container-mobile {
        width: 428px;
        height: 70px;
    }
}

.header-container-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-container-desktop {
        display: flex-start;
        align-items: center;
        gap: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .header-container-desktop {
        align-items: center;
    }
}


.header-burger {
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .header-burger {
        display: none;
    }
}

.header-menu {
    display: flex;
    flex-grow: 1;
    gap: 40px;
}

.header-nav-modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 428px;
    max-height: 796px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 80px 0 40px 40px;
}

.contact-menu-nav {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36;
    line-height: 1;
    color: var(--color-dark);
    flex-direction: column;

}

.contact-menu-nav-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transform: translateX(100%);
    overflow-y: scroll;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.modal-close-js {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    background: #E7E9FC;
    opacity: 0.1;
    border: 1px solid #2E2F42;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.modal-close-js:hover {
    color: var(--color-light);
    background-color: var(--color-blue-light);
}

.modal-close-js:focus {
    color: var(--color-light);
    background-color: var(--color-blue-light);
}

.mobile-nav-two {
margin-top: auto;
}

.js-close-menu {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    background-color: var(--color-light);
    border: 1px solid #2E2F42;
    border-radius: 50%;
    opacity: 1;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu:hover {
        background-color: var(--color-blue-light);
        fill: var(--color-white);
        border-radius: 4%;
        border-radius: 50%;
}
.js-close-menu:focus {
    background-color: var(--color-blue-light);
    fill: var(--color-white);
    border-radius: 4%;
    border-radius: 50%;
}

.js-close-menu.is-open {
    transform: translateX(0);
}

.icon-modal {
    max-width: 328px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    padding-bottom: 40px;
}

.socials-icon-modal {
    width: 24px;
    height: 24px;
    fill: #E5E5E5;
}

.modal-close-js:hover,
.modal-close-js:focus {
    background-color: var(--color-blue-light);
    border-radius: 4px;
    fill: var(--color-blue-light);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: var(--font-size-18);
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-blue);
    text-transform: uppercase;
    text-decoration: none;
}

.logo:focus {
    color: var(--color-blue);
}

.logo-studio {
    color: var(--color-dark);
    font-weight: 800;
}

.link {
    color: var(--color-dark);
    text-decoration: none;
}

.link:focus {
    color: var(--color-blue);
}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--color-dark);
    display: block;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.link-nav.current::after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 2px;
    position: absolute;
    bottom: -25px;
    color: var(--color-blue-light);
}
@media screen and (min-width: 768px) {
.link-nav.current::after {
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        background-color: currentColor;
        border-radius: 2px;
        position: absolute;
        bottom: -25px;
        color: var(--color-blue-light);
        padding: 0;
    }
}
@media screen and (min-width: 1200px) {
    .link-nav.current::after {
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        background-color: currentColor;
        border-radius: 2px;
        position: absolute;
        bottom: -25px;
        color: var(--color-blue-light);
        padding: 0;
    }
}

.link-nav:focus {
    color: var(--color-blue);
}

.link-nav:hover {
    color: var(--color-blue-light);
}

.link-nav-mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-decoration: none;

}
.link-nav-mobile:hover {
    color: var(--color-blue);
}
.studio {
    color: var(--color-blue);
}
.studio-tablet {
    color: var(--color-blue);
}
.link-address {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-gray);
    text-decoration: none;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
.link-address {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: var(--color-gray);
        text-decoration: none;
        transition: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1200px) {
    .link-address {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
}
.link-address-mob-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-blue);
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
}
.link-address-mob-tel:hover {
color: var(--color-blue);
}

@media screen and (max-width: 420px) {
    .link-address-mob-tel {
font-size: 30px;
    }
}
.tel-bottom {
    margin-bottom: 40px;
}

.link-address-mob-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-gray);
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
}
.link-address-mob-mail:hover {
    color: var(--color-blue);
}
.navigation {
    font-size: var(--font-size-16);
    line-height: 1.5;
    color: var(--color-dark);
    display: flex;
    align-items: center;
    gap: 76px;
}

.list-navigation {
    display: flex;
    gap: 40px;
}

.list-navigation,
.address {
    display: none;
}


@media screen and (min-width: 768px) {
    .list-navigation {
        display: flex;
        gap: 40px;
    }

    .address {
        display: block;
    }
}



.list-about {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 72px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .list-about {
        gap: 74px 24px;
        align-items: center;
        text-align: left;
        flex-direction: row;
        flex-wrap: wrap;

    }
}

@media screen and (min-width: 1200px) {
    .list-about {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 24px;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
}

.address {
    font-size: 12;
    line-height: 1.3;
    color: var(--color-gray);
    text-decoration: none;
    font-style: normal;
    margin-left: auto;
}

@media screen and (min-width: 1200px) {
    .address {
        font-size: var(--font-size-16);
        line-height: 1.5;
    }
}

.link-address:focus {
    color: var(--color-blue);
}

.link-address:hover {
    color: var(--color-blue-light);
}

.contacts-list {
    display: none;
    gap: 4px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .contacts-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    .contacts-list {
        gap: 40px;
        flex-direction: row;
    }
}

.hero {
    text-align: center;
    background-color: var(--color-dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url('../images/people-office-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 112px 0;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url('../images/people-office-mobile@2x.jpg');
    }
    }

@media screen and (min-width: 430px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/people-office-tablet.jpg');
    }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/people-office-tablet@2x.jpg');
    }
}
}
@media screen and (min-width: 768px) {
    .hero {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url('../images/people-office@2x.jpg');
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
padding: 188px 0;
    }
}

.button-order-service {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: var(--font-size-16);
    font-weight: 500;
    letter-spacing: 0.04;
    line-height: 2;
    border: none;
    text-align: center;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 169px;
    height: 56px;
}

@media screen and (min-width: 768px) {
    .button-order-service {
        background-color: var(--color-blue);
        color: var(--color-white);
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: 1.5;
        cursor: pointer;
        border: none;
        text-align: center;
        padding: 16px 32px;
        border-radius: 4px;
        transition-duration: 250ms;
        transition-property: background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.button-order-service:hover {
    background-color: var(--color-blue-light);
}

.button-order-service:focus {
    background-color: var(--color-blue);
}


.button-portfolio-navi {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: var(--font-size-16);
    line-height: 1.5;
    cursor: pointer;
    margin: 0 auto;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--color-light);
    color: var(--color-blue);
}

.button-portfolio-navi:hover {
    background-color: var(--color-blue-light);
    color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--color-blue-light);
}

.button-portfolio-navi:focus {
    background-color: var(--color-blue-light);
    color: var(--color-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--color-blue-light);
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 320px;
    margin: 0 auto 72px auto;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        color: var(--color-white);
        max-width: 496px;
        margin: 0 auto 48px auto;
    }
}
@media screen and (min-width: 1200px) {
    .main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        color: var(--color-white);
        max-width: 496px;
        margin: 0 auto 48px auto;
    }
}



.section-one {
    padding-top: 96px;
    padding-bottom: 96px;
    align-items: center;
    text-align: left;
    flex-direction: column;
}


@media screen and (min-width: 768px) {
    .section-one {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1200px) {
    .section-one {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}



.section-two {
    display: none;
}
@media screen and (min-width: 768px) {
    .section-two {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
.section-two {
        display: flex;
        align-items: center;
        padding-bottom: 120px;
    }
}

.section-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--color-dark);
    letter-spacing: 0.02em;
    text-align: center;
}

@media screen and (min-width: 768px) {
.section-name {
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
.section-name {
        font-weight: 500;
        font-size: 20px;
    }
}
.section-name-worker {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-dark);
    letter-spacing: 0.02em;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .section-name-worker {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-dark);
        letter-spacing: 0.02em;
        column-gap: 72px;
        row-gap: 24px;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .section-name-worker {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--color-dark);
        letter-spacing: 0.02em;
        gap: 24px;
        text-align: center;
    }
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-gray);
    letter-spacing: 0.02em;
    margin-top: 8px;
}
@media screen and (min-width: 468px) {
    .section-text {
        font-size: 16px;
        line-height: 1.2;
        color: var(--color-gray);
        letter-spacing: 0.02em;
        gap: 24px;
    }
}
@media screen and (min-width: 1200px) {
.section-text {
        font-weight: 400;
    }
}


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--color-dark);
    text-align: center;
    align-items: center;
    margin-bottom: 72px;
}



.team-title {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: var(--color-dark);
text-align: center;
margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        color: var(--color-dark);
        text-align: center;
        align-items: center;
        margin-bottom: 72px;

    }
    }
        @media screen and (min-width: 1200px) {
            .team-title {
                font-weight: 700;
                font-size: 36px;
                line-height: 1.2;
                color: var(--color-dark);
                text-align: center;
                align-items: center;
                margin-bottom: 72px;
            }
        }

.services {
    display: flex;
    align-items: center;
    gap: 24px;

}

.team {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 74px 24px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
.team {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        column-gap: 24px;
        row-gap: 64px;
        text-align: center;
    }
}
@media screen and (min-width: 1200px) {
    .team {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 24px;
    }
}

.footer {
    display: flex;
    background-color: var(--color-dark);
    text-align: left;
    padding-top: 96px;
    padding-bottom: 96px;
}


.logo-footer {
    font-size: var(--font-size-18);
    line-height: 1.33;
    color: var(--color-light);
    text-transform: uppercase;
    text-decoration: none;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--color-light);
    margin-top: 16px;
    text-align: left;
}

.button-portfolio {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.portfolio-navi {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-apps {
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 24px;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-dark);
    letter-spacing: 0.02em;
    text-align: left;
    gap: 24px;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16;
    line-height: 1.5;
    color: var(--color-dark);
    letter-spacing: 0.02em;
    text-align: left;
}

.card-bottom {
    padding: 32px 0;
}

.application-all {
    display: block;
    box-sizing: border-box;
    text-decoration: none;

}

.application-all:hover .application {
    transform: translateY(0);
}

.application-all:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.application-all:focus .application {
    transform: translateY(0);
}

.application-all:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.application-card {
    position: relative;
    overflow: hidden;
}

.application {
    position: absolute;
    color: var(--color-light);
    background-color: var(--color-blue);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms;
}

.overcard-text {
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 164px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.card-color {
    font-size: 16px;
    line-height: 1.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-white);
    border: 1px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    gap: 8px;
    width: 264px;
}
@media screen and (min-width: 767px) {
    .card-color {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (min-width: 1200px) {
    .card-color {
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: var(--color-white);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        text-align: center;
        font-size: 16;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

}

img {
    display: block;
}

.our-team {
    background: var(--color-light);
    padding: 72px 0;
}

@media screen and (min-width: 767px) {
    .our-team {
        flex-wrap: wrap;
        padding: 64px 0;
        align-items: center;
    }
}

.portfolio-apps {
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 24px;
    row-gap: 48px;
    flex-basis: calc((100% - 24px) / 3);
}

.portfolio-works {
    background: var(--color-gray-light)
}

.portfolio-card-text {
    background: var(--color-white);
    align-items: center;
}

.portfolio-card-text:hover,
.portfolio-card-text:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-card {
    border: 1px solid var(--color-light);
    border-top: none;
    padding: 32px 16px;
}


.columns {
    text-align: left;
    flex-direction: column;
    flex-basis: calc((100% - 3 * 24px) / 4);
}


@media screen and (min-width: 767px) {
    .columns {
        flex-basis: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1200px) {
    .columns {
        display: flex;
        flex-basis: calc((100% - 24px) / 2);
        flex-wrap: nowrap;
    }
}



.columns-about {
    flex-basis: calc((100%-(3*24px))/4);
    background: var(--color-light);
    gap: 24px;
    width: 264px;
    height: 112px;
    text-align: center;
    padding-top: 24px;
}

.icons {
    display: none;
}

@media screen and (min-width: 768px) {
    .icons {
display: none;
    }
}

@media screen and (min-width: 1200px) {
    .icons {
        display: flex;
    }
}
@media screen and (min-width: 467px) {
    .svg-icons {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .svg-icons {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
.svg-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
}
}
.socials-item {
    width: 40px;
    height: 40px;
}

.socials-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px
}
@media screen and (min-width: 768px) {
.socials-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-top: 8px
    }
}
@media screen and (min-width: 1200px) {
    .socials-list {
        display: flex;
        gap: 24px;
        justify-content: center;
        margin-top: 8px
    }
}


.socials-link {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-blue);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover {
    background-color: var(--color-blue-light);
}

.socials-link:focus {
    background-color: var(--color-blue-light);
}

.socials-icon {
    width: 16px;
    height: 16px;
    fill: var(--color-light);
}

.customers-item {
    width: 190px;
    height: 88px;
}
@media screen and (min-width: 768px) {
.customers-item {
        width: 168px;
        height: 88px;
}
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 72px;
    justify-content: center;
    margin-top: 72px;
}

@media screen and (min-width: 768px) {
.customers-list {
        gap: 24px;
        row-gap: 64px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .customers-list {


    }
}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-property: border, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
    border: 1px solid #404BBF;
    color: var(--color-blue-light);
}

.customers-link:focus {
    border: 1px solid #404BBF;

    color: var(--color-blue-light);
}

.customers-icon {
    fill: currentColor;
}

.customers {
    padding-bottom: 96px;
    padding-top: 96px;
}

.section-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--color-dark);
    text-align: center;
    align-items: center;
}

.social-media {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    justify-content: left;
    margin-bottom: 16px;
}

.footer-social-list {
    align-items: left;
    align-content: left;
    display: flex;
    gap: 16px;
}
@media screen and (min-width: 1200px) {
.footer-social-list {
        display: flex;
        gap: 16px;
    }
}

.footer-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .footer-socials {
    justify-content: flex-start;
    width: 582px;
    gap: 72px 24px;
    }
}
@media screen and (min-width: 1200px) {
    .footer-socials {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 0;
    }
}

.footer-block {
max-width: 264px;
text-align: center;
}
.footer-form {
    width: 100%;
}
@media screen and (min-width: 767px) {
    .footer-form {
        display: block;
        width: auto;
        text-align: left;
    }
}
@media screen and (min-width: 768px) {
    .footer-block {
        width: 264px;
        text-align: left;
    }
    .media {
        text-align: left;
    }
    .footer-form {
        text-align: left;

    }
}
@media screen and (min-width: 1200px) {
    .footer-block {
        width: 264px;
        display: block;
    }
    .media {
        margin-left: 120px;
    }
    .footer-form {
    margin-left: auto;
    }
}

.footer-icons-list {
    width: 40px;
    height: 40px;
}

.footer-link {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-property: background-color;
    transition-timing-function: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: #31D0AA;
}

.footer-link:focus {
    background-color: #31D0AA;
    outline: none;
}

.footer-icon {
    fill: var(--color-white);
    width: 24px;
    height: 24px;
}

.footer-form-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-form-text {
        text-align: left;
    }
}
@media screen and (min-width: 1200px) {
    .footer-form-text {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        align-items: center;
        text-align: left;
        margin-bottom: 16px;
    }
}

.footer-form-subscribe {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .footer-form-subscribe {
    gap: 24px;
    flex-direction: row;
    }
}


.footer-insert-area {
    display: block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 16px;
    padding-right: 16px;
    color: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .footer-insert-area {
        display: block;
        width: 264px;
        height: 40px;
    }
}

@media screen and (min-width: 1200px) {
.footer-insert-area {
        display: block;
        width: 264px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2E2F42;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        padding-left: 16px;
        color: #FFFFFF;
    }
}
.user-insert {
    display: block;
    width: 100%;
}

@media screen and (min-width: 768px) {
.user-insert {
    display: flex;
    width: 264px;
}
}
.button-subscribe {
    display: flex;
    align-items: center;
    width: 165px;
    height: 40px;
    background-color: var(--color-blue);
    color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 24px;
    gap: 16px;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 768px) {
    .button-subscribe {
        display: flex;
        align-items: center;
        width: 165px;
        height: 40px;
        background-color: var(--color-blue);
        color: #FFFFFF;
        border-radius: 4px;
        padding: 8px 24px;
        gap: 16px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.button-subscribe:hover {
    background-color: var(--color-blue-light);
}

.button-subscribe:focus {
    background-color: var(--color-blue-light);
}

.footer-svg {
    width: 24px;
    height: 20px;
    fill: #FFFFFF;
}

.form-name {
    font-family: 'Roboto';
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.user-form {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translate(0, -50%);
    display: block;
    text-align: center;
    display: flex;
    color: var(--color-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-form:hover {
    fill: var(--color-blue);
}

.modal-userform {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    color: var(--color-dark);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.modal-userform:hover {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    fill: var(--color-blue);
}

.modal-userform:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    fill: var(--color-blue);
}

.modal-userform:hover+.user-form {
    fill: var(--color-blue-light);
}

.modal-userform:focus+.user-form {
    fill: var(--color-blue-light);
}


.inside-form {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
}

.inside-form:hover {
    border: 1px solid #4D5AE5;

}

.inside-form:focus {
    border: 1px solid #4D5AE5;

}

.modal-check {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 12px;
    gap: 8px;
    color: #8E8F99;
}

.form-check:checked+.checked {
    background: var(--color-blue);
    border: 1px solid var(--color-dark);
    background-image: url(../images/click.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.form-check {
    appearance: none;
}

.checked {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-dark);
    border-radius: 2px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    appearance: none;
}
.privacy {
    color: var(--color-blue)
}
.accept {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button-oneform {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 169px;
    height: 56px;
    background: var(--color-blue);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    border: none;
}

.button-oneform:focus {
    background-color: var(--color-blue-light);
}

.button-oneform:hover {
    background-color: var(--color-blue-light);
}

/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden.modal {
    transform: scale(0);
}

.text-form {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    align-items: center;
    height: 24px;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal {
    position: absolute;
    overflow: auto;
    width: 100%;
    max-width: 408px;
    background-color: #FCFCFC;
    transform: scale(1);
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;

}

.modal-close {
    position: absolute;
    display: flex;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    fill: #2E2F42;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--color-blue-light);
    fill: var(--color-white);
    border-radius: 4%;
    border-radius: 50%;
}

.close-icon {
    color: #000000;
    border: none;
    display: inline-block;
    width: 8px;
    height: 8px;
}

.close-icon:hover,
.close-icon:focus {
    fill: #FFFFFF;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.user-type {
    display: block;
    margin-bottom: 8px;
}

.user-comment {
    margin-top: 16px;
}

.input-form {
    position: relative;
    outline: none;
}
