.top-sellers-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  text-align: Center;
  color: var(--black-color);
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 32px;
}

.top-sellers-title--orange {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2em;
  text-align: Center;
  color: var(--orange-color);
}

.top-sellers-list {
  display: flex;
  flex-direction: column;
  gap: 20px 16px;
}

.top-sellers-item {
  width: 100%;
  order: 3;
}

.top-sellers-item:nth-child(1) {
  order: 1;
}

.top-sellers-item:nth-child(3) {
  display: none;
}

.top-sellers-item:nth-child(4) {
  width: 306px;
  order: 2;
}

.top-sellers-item:nth-child(5) {
  display: flex;
  justify-content: center;
}

.top-sellers-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.top-sellers-text {
  font-size: 14px;
  line-height: 1.2em;
  padding-bottom: 12px;
}

.top-sellers-btn {
  border: none;
  padding: 12px 28px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  border-radius: 100px;
  width: 120px;
  background-color: var(--orange-color);
  font-size: 14px;
  line-height: 1.2em;
  text-align: center;
  color: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .top-sellers-title {
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 50px;
  }

  .top-sellers-title--orange {
    font-size: 24px;
    line-height: 1.2em;
  }

  .top-sellers-list {
    flex-direction: row;
    align-items: normal;
    flex-wrap: wrap;
    gap: 32px 16px;
  }

  .top-sellers-item {
    width: calc((100% - 16px) / 2);
  }

  .top-sellers-item:nth-child(4) {
    order: 3;
  }

  .top-sellers-item:nth-child(5) {
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: auto;
  }

  .top-sellers-img {
    border-radius: 15px;
  }

  .top-sellers-text {
    font-size: 14px;
    line-height: 1.2em;
    padding: 0;
  }

  .top-sellers-btn {
    margin-left: auto;
    border: none;
    padding: 14px 40px;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    border-radius: 100px;
    width: 162px;
    background-color: var(--orange-color);
    font-size: 18px;
    line-height: 1.2em;
    text-align: center;
    color: var(--white-color);
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
  }

  .top-sellers-title {
    font-size: 24px;
    line-height: 1.2em;
    margin-bottom: 50px;
  }

  .top-sellers-title--orange {
    font-size: 24px;
    line-height: 1.2em;
  }

  .top-sellers-list {
    flex-direction: row;
    align-items: normal;
  }

  .top-sellers-item {
    width: calc((100% - 32px) / 3);
  }

  .top-sellers-item:nth-child(4) {
    width: 407px;
  }

  .top-sellers-item:nth-child(3) {
    display: block;
  }
}
